<header class="page-header container center">
    <div class="page-title">
        <img src="{{ site.image }}" alt="{{ site.title }}">
        <br>
        {% include social.html %}
        <h3>{{ item.description }}</h3>
        <br>
        <ul class="inline-list">
            {% for item in site.data.nav %}
                {% unless forloop.first %}
                    <li>
                        <a href="{{ item.link }}" class="btn-flat btn-large waves-effect waves-light" title="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endunless %}
            {% endfor %}
        </ul>
    </div>
</header>