<div id="plus-modal" class="modal">
    <div class="modal-content">
        <div class="container center">
            <img src="{{ site.image }}" alt="{{ site.title }}" style="width: 200px;">
            <br>
            {% include social.html %}
            <h3>{{ item.description }}</h3>
            <br>
                {% for item in site.data.nav %}
                    {% unless forloop.first %}
                    <a href="{{ item.link }}" 
                        class="btn-flat btn-large waves-effect waves-light white-text 
                        {% unless item.dropdown %}modal-trigger{% endunless %}
                        {% if item.dropdown %}dropdown-trigger{% endif %}" 
                        title="{{ item.title }}"
                        {% if item.dropdown %}data-target="galeria-dropdown"{% endif %}>
                            <i class="fas fa-{{ item.icon }}"></i>
                            {{ item.title }}
                    </a>
                    {% endunless %}
                {% endfor %}
        </div>
    </div>
</div>

{% include galeria-dropdown.html %}

<style>
    #plus-modal {
        background-image: url(/assets/img/goldpattern.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>