---
layout: default
---

<style>
    .page-header {
        position: relative;
        height: 80vh;
        background-image: url(/assets/img/goldpattern.svg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .page-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    .page-content h1 {
        font-weight: bolder;
    }
</style>

<header class="page-header">
    <div class="page-content">
        <div class="container center">
            <img src="/assets/img/logo.svg" alt="{{ site.title }}" width="250px">
            {% include social.html %}
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</header>

<section class="section">
    <section id="masonry-grid" class="row">
        {% for item in paginator.posts %}
            <div class="col s6 l4 no-padding">
                <a href="{{ item.image }}" data-title="{{ item.title }}" data-lightbox="{{ page.title }}">
                    <img src="{{ item.image }}" alt="{{ item.title }}" class="hoverable">
                </a>
            </div>
        {% endfor %}
    </section>
</section>

{% include pagination.html %}